*{
    margin: 0px;
    padding: 0px;
    font-style: Myriad Pro;

}

body{

    background-color: lightpink;
    font-size: 17px;
}

body nav{

    width: auto;
    padding: 1em;
    background-color: white;
    height: 5em;

}

body nav ul{

    float: left;
    animation-name: goyang;
    animation-duration: 1s;
    position: relative;
}

body nav ul li a{

    text-decoration: none;
    color: black;
}

.aktif{

    background-color: lightpink;
    color: white;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 35px;
}

a:hover{
    background-color: lightpink;
    color: white;
    border-radius: 5px;
}

.a1:hover{

    background-color: white;
}

ul li{
    display: inline-block;
    position: relative;
    font-size: 50px;
    margin-top: 15px;
    padding-right: 50px;


}

ul .log1{

    padding-right: 0px;

}

ul .log{

    font-size: 30px;
    margin-left: 900px;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 0px;
}

body .footer{

    background-color: white;
    height: 25px;

}

body .footer .copy{

    color: red;
    margin-top: 2px;
}

body .header{

    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 800px;
    border-radius: 5px;
}

.header .judul{

    background-color: lightpink;
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

h1{
    margin-left: 10px;
}

.li1{

    display: inline-block;
    position: relative;
    margin-top: 15px;
    padding-right: 15px;

}

input[type=submit]{

    margin-top: 30px;
    background-color: chartreuse;
    font-weight: bolder;
    color: black;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
    padding: 5px;
}

.data1dan2{

  border: 3px solid lightpink;
  padding: 10px;
}

.dropbtn {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 35px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: lightpink;
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.warper1{

    background-color: skyblue;
    text-align: center;
    height: 80px;
    width: 200px;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px gray;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  
}

.h1a{

    background-color: seagreen;
    margin-left: 0px;
    margin-bottom: 3px;
    color: white;
    border-bottom: 2px solid white;
}