
body{

    padding-top: 100px;
    background-color: lightpink;
    font-size: 17px;
}

body .user{

    margin-top: 20px;
}

body form{
    
    border: black 1px;
    padding: 1em;
    margin: 2em auto;
    width: 20em;
    background: skyblue;
    border-radius: 3px;
}

body form .simpankata{

    color: yellow;
}

body form .login{

    margin-left: 85px;
    background: greenyellow;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

body form .regis{
    
    border: none;
    margin-left: 40px;
    background: red;
    font-weight: bolder;
    color: white;
    border-radius: 3px;
    padding: 5px;
}

input{

    border: none;
    border-radius: 3px;
}
